<div
  class="video-wrapper relative w-full aspect-video mb-6 border border-zinc-800 bg-zinc-900 group"
>
  <iframe
    class="absolute inset-0 w-full h-full"
    src="https://www.youtube-nocookie.com/embed/{{id}}"
    title="YouTube video player"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
    "
    allowfullscreen
  >
  </iframe>
  <div class="video-touch-overlay absolute inset-0 z-10 md:hidden"> </div>
</div>
